In [1]:
import pandas as pd
import numpy as np
import os

In [11]:
path = "ActionUnits/"
elist = os.listdir(path)

In [12]:
cnt=0
for csv in elist:
    if cnt==0:
        data = pd.DataFrame(np.load(path+csv))
        cnt+=1
    else:
        d = pd.DataFrame(np.load(path+csv))
        data = pd.concat([data, d])

here
here
here
here
here

In [13]:
data

      0     1     2     3     4     5     6     7     8     9    10
0   0.48  0.00  2.37  0.00  0.00  0.45  0.00  1.42  0.84  0.00  0.0
1   0.47  0.00  1.79  0.39  0.00  0.00  0.00  0.94  0.00  0.09  0.0
2   0.33  0.00  2.02  1.50  0.09  0.00  0.25  0.99  0.64  0.00  0.0
3   0.00  0.00  2.52  0.00  0.97  0.03  0.40  0.66  0.61  0.14  0.0
4   0.84  0.29  2.22  0.79  0.10  0.00  0.25  0.27  0.92  0.34  0.0
..   ...   ...   ...   ...   ...   ...   ...   ...   ...   ...  ...
34  0.00  0.00  0.00  0.37  0.00  0.00  0.00  0.73  0.97  0.00  0.0
35  0.00  0.00  0.54  0.16  0.20  0.00  0.00  1.23  1.24  0.09  0.0
36  0.29  0.00  1.27  0.62  0.00  0.00  0.00  0.91  0.58  0.00  0.0
37  0.00  0.00  0.68  0.00  0.57  0.29  0.38  0.21  0.76  0.00  0.0
38  0.00  0.00  1.31  0.14  0.00  0.00  0.00  1.26  0.09  0.00  0.0

[228 rows x 11 columns]

In [ ]:
data = data.iloc[:, 5:21]
data.drop([" AU09_r", " AU10_r", " AU14_r", " AU17_r", " AU25_r"], axis=1, inplace=True)

In [14]:
d = data.to_numpy()

In [15]:
np.save("results/AU_predictions.npy", d)